@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *,
  input,
  button {
    font-family: 'Poppins', sans-serif;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    background-color: #1c1c1c;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Header */
  
  .menu {
    height: 48px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu {
    height: 48px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu__section {
    display: flex;
    align-items: center;
  }
  
 
  
  .menu__link {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #757575;
    padding: 12px 8px;
  }
 
  
  .menu__section.right {
    margin-right: 4px;
  }
  

.menu__section.right .menu__icon {
    padding: 4px;
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .menu__avatar--frame {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .menu__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  
  /* Main */
  
  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 56px 8px 0;
    align-items: center;
  }
  
  .content__logo {
    height: 95px;
  }
  
  .content__search {
    margin-top: 18px;
    width: 100%;
    max-width: 736px;
    padding: 7px 10px 6px 20px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.87);
    background: transparent;
    border-radius: 25px;
    border: 1px solid #dadce0;
    outline: 0;
  }
  

.content__search {
    border: 1px solid #333333;
    background-color: #333333;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.content__search {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5)
}

.content__search input {
    flex-grow: 1;
    height: 30px;
    margin-right: 15px;
    margin-top: 2px;
    font-size: 16px;
    border: none;
    background-color: #333333;
    color: #fff;
}

.content__search i {
    font-size: 17px;
    color: gray;
    margin-right: 2px;
    cursor: pointer;
}

.content__search .icon {
    font-size: 17px;
    color: gray;
    margin-right: 15px;
    cursor: pointer;
}

.content__text {
    margin-top: -23px;
    font-size: 14px;
    padding: 6px 12px;
    color: #fff;
}

.content__text a {
    text-decoration: none;
    color: #fff;
}

.content__offer {
    margin-top: 24px;
    font-size: 16px;
    padding: 6px 12px;
    color: #fff;
}
  
.content__offer a {
    text-decoration: none;
    color: #1967d2;
}
  
/* footer */

.footer {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    background: #1c1c1c;
  }
  
.footer__section:not(:first-child) {
    border-top: 1px solid #1c1c1c;
}

.footer__links {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 14px;
    color: #1c1c1c;
    padding: 16px;
}  
  
.footer__links a:not(:first-child) {
    margin-left: 27px;
}

/* icon settings */

.navbar-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 0.6rem;
}

.nav-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 0.8rem;
}

.social-icons span img,
#navbar-toggler img {
    filter: var(--lighGray-Filter);
}

.nav-btns span img:first-child {
    width: 28px;
}

.nav-btns span img:last-child {
    width: 18px;
    margin-left: 0.2rem;
}

.social-icons span {
    cursor: pointer;
}

.social-icons span:hover {
    filter: var(--darkGray-Filter);
}

.social-icons {
    display: flex;
    flex-direction: column;
    right: 7px;
    position: relative;
}

.social-icons span {
    display: flex;
    align-items: center;
}

.social-icons-list {
    position: absolute;
    top: calc(100% + 0.8rem);
    background: #fff;
    border-radius: 5px;
    padding: 1rem;
    right: -4px;
    width: 248px;
    box-shadow: 0 2.5px 20px 0 rgba(0, 0, 0, 0.15);
    display: none;
    top: 34px;
}

.social-icons li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.6rem;
}

.social-icons li img {
    width: 22px;
    margin-right: 10px;
}

.social-icons li span {
    opacity: 0.9;
    font-size: 0.9rem;
}

.socialIconsToggle {
    display: block;
}

/* media query */

@media (min-width: 763px) {
.content {
      padding-top: 120px;
}

.content__search i {
    font-size: 14px;
}

.content__search .icon {
    font-size: 14px;
}

.content__logo {
      height: 150px;
}
}